.links-nav-logo {
    display: flex;
    justify-content: space-between;
    background-color: rgb(71, 70, 70);
}

.links-about{
    display: flex;
    gap: 30px;
    padding-right:15px ;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    color: orange;
    padding-left: 25px;
    transform: skew(-10deg);
}

li{
    list-style: none; 
}

a {
    color: orange;
    text-decoration: none; 
    font-size: 20px;
}





.main-conteiner{
    background-image: url(images/pexels-engin-akyurt-1435895.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    
}

.main-text-video{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 380px;
    margin-left:150px ;
    margin-bottom: 90px;
    font-size: 20px;
}



.container-cards-seccion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.img-card {
    height: 300px;
    width: 250px;
    border-radius:10px ; 
}

.links-cards{
    display: flex;
    gap: 180px;
    margin-top: 25px;
}